#avatar-carousel-container {
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#avatar-carousel-container > div {
  display: flex;
  flex-direction: row;
}
img {
  background-color: var(--main-bg-color);
  border: 3px solid transparent;
}

/* .image-cropper {
  width: 64px;
  height: 64px;
  margin: 7px;
  overflow: hidden;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 3px solid var(--main-bg-color);
} */
div.selfie {
  margin: 5px;
}
.selfie-placeholder {
  /* border: 3px solid white; */
  width: 75px;
  height: 75px;
  background-color: aliceblue;
}

.margin {
  margin-right: 10px;
}
#nameInput {
  line-height: 2.3rem;
}
/* file upload button */
input[type='file']::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: var(--light);
  border: 1px solid rgba(0, 0, 0, 0.16);
  margin-right: 16px;
}
#player-header {
  display: flex;
  align-items: center;
}
#player-header h1 {
  margin-left: 20px !important;
}

#color-carousel {
  display: flex;
  justify-content: space-between;
}

#nameInput {
  background-color: var(--light);
}

.image-cropper {
  margin: 5px;
  border: 3px solid transparent;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.image-cropper > div {
  border-radius: 50%;
  width: 72px;
  height: 72px;
  overflow: hidden;
}

img {
  width: 100% !important;
}
.selected {
  background-color: var(--light);
  border-color: var(--light);
}
