.podium {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.solid {
  width: 100%;
  background-color: rgb(113, 115, 141);
  text-align: center;
  font-size: 2rem;
  color: black;
}
.placement-1 {
  height: 20vh;
  min-height: 140px;
  max-width: 50vw;
}
.placement-2 {
  height: 12vh;
  min-height: 84px;
}

.placement-3 {
  height: 8vh;
  min-height: 56px;
}
#podium-container {
  display: flex;
  align-items: flex-end;
  gap: 1vw;
  margin: 20px 0;
}

#final {
  text-align: center;
  margin: 5vh 0;
  width: 100%;
}
#final td {
  vertical-align: top;
}
.player {
  text-align: start;
  padding-left: 15px;
}
p {
  margin: 0;
  text-align: center;
}
